@import 'index.scss';

.advice {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: $dark-grayish-blue;
    border-radius: 0.5em;
    width: 345px;
    height: 325px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__number {
        color: $neon-green;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 12px;
    }

    &__quote {
        color: $light-cyan;
        font-size: 20px;
        letter-spacing: 0.05em;
        text-align: center;
        -webkit-user-select: text;
        -webkit-touch-ctextout: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    &__dice {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__dice div:hover {
        box-shadow: 0 0 30px 5px $neon-green;
        cursor: pointer;
    }

    &__dice div {
        position: absolute;
        background-color: $neon-green;
        width: 65px;
        display: flex;
        padding: 1.2em;
        justify-content: center;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .advice {
        width: 530px;
        height: 325px;
        border-radius: 0.8em;

        &__number {
            padding-block-start: 1em;
            letter-spacing: 0.2em;
            font-size: 14px;
        }

        &__quote {
            font-size: 28px;
            letter-spacing: 0.05em;
        }

    }
  }