@import 'index.scss';

* {
    box-sizing: border-box;
  }

html {
    margin: 0;
    padding: 0;
}

body  {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
}